.counter {
  margin: 0 auto .5em;
  width: 30%;
  font-size: calc(14px + 2vmin);
  border: 1px solid rgb(10, 20, 100);
  background-color: bisque;
  border-radius: 1rem;

  .title {
    color: rgb(178, 34, 113);
  }

  .button-group {
    margin: 0.5rem 0.2rem;

    &--right {
      float: right;
    }

    &::after {
      clear: both;
    }
  }

  .control {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0.5rem 0.2rem;

    .value {
      width: 30%;
    }
  }

  .button {
    display: inline-block;
    font-size: calc(14px + 2vmin);
    padding: 0.1em;
    width: 5em;
    text-align: center;
    color: white;
    border-radius: .5em;
    outline: none;
    margin: 0 0.5rem 0.5rem;

    &-delete,
    &-decrease {
      background-color: red;
    }

    &-edit,
    &-increase {
      background-color: yellowgreen;
    }

  }
}