.counterPanel {
  margin: .5em auto;
  font-size: calc(12px + 2vmin);

  .button {
    display: inline-block;
    font-size: calc(10px + 2vmin);
    padding: 0.5em;
    width: 30%;
    border-radius: 1rem;
    border: 1px solid #ffffff;
    color: white;
    outline: none;
    text-align: center;

    &-add {
      margin-top: 16px;
      margin-bottom: 24px;
      background-color: yellowgreen;
    }
  }


}
