.counter-editable {

  .form-group {
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    input {
      padding: 4px 8px;
      font-size: calc(14px + 2vmin);
      width: 100%;
      flex-shrink: 2;
    }
  }

  .button {
    display: inline-block;
    font-size: calc(14px + 2vmin);
    padding: 0.1em;
    width: 5em;
    text-align: center;
    margin: 0 0.5rem 0.5rem;

    &__add {
      background-color: yellowgreen;
    }

    &__update {
      background-color: #007bff;
    }

    &__cancel {
      background-color: red;
    }
  }
}
