.counter-editable {

  .form-group {
    margin: 1em;
    display: flex;
    justify-content: space-between;

    input {
      font-size: calc(14px + 2vmin);
    }
  }

  .button {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: calc(14px + 2vmin);
    padding: 0.1em;
    width: 5em;
    text-align: center;
    margin: 0 0.1em;

    &-add {
      color: blue;
      margin: .5em 0;
    }
  }
}