.App {
  position: relative;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
  z-index: 999;
}

.App-content {
  position: relative;
  margin-top: 15vmin;
}

.App-title {
  margin-left: 8px;
}

.App-link {
  margin-left: auto;
  margin-right: 8px;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
